@import './my-variables';

.profile{
    height: 50px;
    width:50px;
    border-radius: 50%;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:15px;
    margin-top: 20px;
    margin-top: 20px;
}
@media (max-width:1200px){
    .wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:992px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:500px) {
    .wrapper {
        padding-left: 30px;
        grid-template-columns: 1fr;
    }
}



@import '../bootstrap-sass/scss/bootstrap.scss';